node_modules/                                                                                                                                                                                                                  
.next/                                                                                                                                                                                                                            
npm-debug.log*                                                                                                                                                                                                                    
yarn-error.log*
git rm -r --cached node_modules .next  